/* Define default variables for light mode */
:root {
  --background-color: #ffffff;
  --text-color: #2c3e50;
  --link-color: #2c3e50;
  --error-color: red;
  --error-background-color: rgba(255, 0, 0, 0.3);
  --active-link-color: #42b983;
  --scrollbar-color: #d3dbe5;
  --button-background: #f0f0f0;
  --button-text-color: #2c3e50;
  --input-background: #ffffff;
  --input-text-color: #2c3e50;
  --button-background-disabled: #cccccc;
  --button-text-color-disabled: #888888;
  --button-background-hover: #e0e0e0;
  --chart-line-color: #4b9cc5;
  --chart-grid-color: rgba(0, 0, 0, 0.1); 
  --chart-font-color: #2c3e50; 
  --chart-tooltip-bg: #ffffff; 
  --calculated-info-border: 2px solid #5ec3f6;
  --regular-border-color: #ccc;

  /* Macronutrient colors */
  --protein-color: #ff6384;     /* Red */
  --fat-color: #ffcd56;         /* Yellow */
  --carb-color: #36a2eb;        /* Blue */
  --4: 4px;
  --6: 6px;
  --8: 8px;
  --10: 10px;
  --12: 12px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
}

/* Dark mode variables */
.dark-mode {
  --background-color: #2c3e50;
  --text-color: #ecf0f1;
  --link-color: #ffffff;
  --error-color: rgb(255 136 136);
  --error-background-color: rgba(255, 42, 42, 0.45);
  --active-link-color: #42b983;
  --scrollbar-color: #8f9db0;
  --button-background: #3e4a59;
  --button-text-color: #ffffff;
  --input-background: #3e4a59;
  --input-text-color: #ffffff;
  --button-background-disabled: #555555;
  --button-text-color-disabled: #888888;
  --button-background-hover: #4a5a6a;
  --chart-line-color: #9bd1ff;
  --chart-grid-color: rgba(255, 255, 255, 0.2);
  --chart-font-color: #ffffff;
  --chart-tooltip-bg: #2c3e50;
  --calculated-info-border: 2px solid #cacaca;

  /* Macronutrient colors for dark mode (optional) */
  --protein-color: #ff6384;     /* Red */
  --fat-color: #ffcd56;         /* Yellow */
  --carb-color: #36a2eb;        /* Blue */
}

/* Light mode variables */
.light-mode {
  /* Variables are already defined in :root */
}

/* Global styles */
* {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
}

.regular-button {
  padding: var(--8) var(--16);
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius-2);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--active-link-color);
  }

  &:disabled {
    background-color: var(--button-background-disabled);
    color: var(--button-text-color-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: var(--button-background-hover);
  }
}

input,
select {
  padding: var(--8);
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: 1px solid var(--regular-border-color);
  border-radius: var(--border-radius-2);

  &:focus {
    outline: 2px solid var(--active-link-color);
  }
}

label {
  margin-bottom: var(--6);
  color: var(--text-color);
  font-size: 0.9em;
  text-align: start;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.tooltip-title {
  margin-bottom: var(--12);
  color: var(--text-color);
}

.tooltip-description {
  font-size: 0.9rem;
  line-height: 1.15rem;
  color: var(--text-color);
}

.error {
  margin: var(--8) 0 0 0;
  color: var(--error-color);
  font-size: 0.8em;
}

/* Global Scrollbar Styles */

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--input-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--border-radius-4);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--input-background);
}

/* For Edge and IE (limited support) */
@supports (-ms-overflow-style: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--input-background);
  }
}
